ul {
    list-style-type: none;
}

body {
    font-family: Verdana, sans-serif;
}

/* Month header */
.month {
    padding: 70px 25px;
    min-width: 1385px;
    text-align: center;
}

/* Month list */ 
.month ul {
    margin: 0;
    padding: 0;
}

.month ul li {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

/* Previous button inside month header */
.month .prev {
    float: left;
    padding-top: 10px;
}

/* Next button */
.month .next {
    float: right;
    padding-top: 10px;
}

.month .prev:hover, .month .next:hover {
    color: black;
    cursor: pointer;
}

/* Weekdays (Mon-Sun) */
.weekdays {
    display: grid;
    grid: auto / auto auto auto auto auto auto auto ;    
    margin: 0;
    background-color:#ddd;
  }
  
  .weekdays li {
    display: inline-block;
    min-width: 173px;
    color: #666;
    text-align: center;
  }

/* Days (1-31) */
.days {
    background: #000000e0;
    padding: 1rem;
    border: 2px solid #EEE;
    display: grid;
    grid: auto auto auto auto auto / auto auto auto auto auto auto auto;
}

.days li {
    list-style-type: none;
    margin: 0;
    height: 200px;
    width: 200px;
    font-size: 18px;
    color: #FFF;
}

.day-number {
    justify-self: flex-start;
    padding: 1rem;
}

/* Highlight the "current" day */
.days li .active {
    padding: 5px;
    background: #1abc9c;
    color: white !important
}

.events {
    max-height: 100%;
    display: flex;
    flex-direction: column;
}

.events li {
    margin: 0;
    padding: 0;
    height: 2em;
    text-wrap: wrap;
}

@media screen and (max-width: 1600px){
    main {
        scale: 100vw;
    }
}

@media screen and (max-width: 1400px){
    .month {
        min-width: auto;
        width: 100vw;
    }
    .weekdays {
        display: none; 
    }

    .days {
        display: flex;
        flex-direction: column;
    }

    .days li {
        height: auto;
        width: 100vw;
        margin-top: 1em;
    }
}