:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  width: 90vw;
  height: 90vh;
  margin: 0 auto;
  transition: all 0.3s ease;
}

main {
  display: flex;
  padding: 1em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

h2 {
  font-size: 2rem;
}

textarea {
  width: 60%;
  height: 100px;
  padding: 1rem;
  border-radius: 0.5rem;
  border: none;
  background-color: #333;
  color: #fff;
  font-size: 1rem;
}

button {
  margin: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: none;
  background-color: #646cff;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
}

.post {
  display: block;
  width: 90%;
  padding: 1rem;
  margin: 1rem auto;
  border-radius: 0.5rem;
  background-color: #333;
}

header {
  background-color: #0c0b0b;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #0c0b0b;
}

footer p {
  margin: 0;
}

fieldset {
  width: 80%;
}

label {
  display: block;
}

.label-reset {
  display: inline;
}

.flex {
  display: flex;
  width: 80%;
}

ul.flex {
  flex-wrap: wrap;
  justify-content: space-between;
}

ul.flex li {
  width: 125px;
}

#attendance {
  width: 900px;
}

.thumbnail {
  max-height: 200px;
}

.download-card {
  display: flex;
  padding: 1em;
  flex-direction: column;
  align-items: center;
  background-color: #333;
  border-radius: 1em;
}



